<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/about-hospital.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <!--NavBar-->
    <%- include('include/_navbar') %>

    
    <!--top-one-->
    <section class="top-one">
        <h2>About Apollo Hospital</h2>
        <p>home / Hospital profile</p>
    </section>

    <!--all about doc-->
    <section>
        <div class="all-about-doc">
        <div class="photo-and-butn">
            <div class="photoone">
                <img src="https://www.hdrinc.com/sites/default/files/styles/hero/public/2018-08/stretcher-orientation-ed1.jpg?itok=HBzFQuLz" alt="">
            </div>
            <button>Book an appointment</button>
        </div>

        <div class="text-info">
        <div class="name-info">
            <h2>Apoolo Hospital</h2>
            <div class="font-and-details">
                <div class="inside-font-and-details">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>Delhi Mathura Road,sarita vihar,Delhi 110076</p>
                </div>

                <div class="inside-font-and-details">
                    <i class="fa fa-bed" aria-hidden="true"></i>
                    <p>113 Beds</p>
                </div>
                
                
                
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

    <div class="accordian">
            
        <div class="accordian-tab">
            <input type="checkbox" id="toggle1" class="accordian-toggle" name="toggle">
            <label for="toggle1"><i class="fa fa-certificate" aria-hidden="true"></i>Specialization</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

        <div class="accordian-tab">
            <input type="checkbox" id="toggle2" class="accordian-toggle" name="toggle">
            <label for="toggle2"><i class="fa fa-stethoscope" aria-hidden="true"></i>List Of Treatment</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

        <div class="accordian-tab">
            <input type="checkbox" id="toggle3" class="accordian-toggle" name="toggle">
            <label for="toggle3"><i class="fa fa-hospital-o" aria-hidden="true"></i>Work Experience</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

        
        <div class="accordian-tab">
            <input type="checkbox" id="toggle4" class="accordian-toggle" name="toggle">
            <label for="toggle4"><i class="fa fa-star" aria-hidden="true"></i>Qualification</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
            

        <div class="accordian-tab">
            <input type="checkbox" id="toggle5" class="accordian-toggle" name="toggle">
            <label for="toggle5"><i class="fa fa-trophy" aria-hidden="true"></i>Awards</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
            
           
        <div class="accordian-tab">
            <input type="checkbox" id="toggle6" class="accordian-toggle" name="toggle">
            <label for="toggle6"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
           
        <div class="accordian-tab">
            <input type="checkbox" id="toggle7" class="accordian-toggle" name="toggle">
            <label for="toggle7"><i class="fa fa-inr" aria-hidden="true"></i>Avg Fees</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

           

           
    </div>     
    </div>
    </div>
    </section>



    <!--need help-->

<%- include('include/_needhelp') %>


   <!--footer-->

<%- include('include/_footer') %>


</body>
</html>