<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/dentistrycss.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    
    
    <%- include('include/_navbar') %>



    <!--contact-->
    <section class="contact">
        <h2>Dentistry</h2>
        <p>Home / Dentistry</p>
        
    </section>

    <!--vaccination-->
    <section class="vaccination">
        <div class="vaccination-section">
            <div class="one-box-inside-vaccn-section">
            <div class="one-box-vaccn">

                <div class="inside-one-box">
                    <h2>Vaccination</h2>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg">
                </div>
            
                <div class="inside-two-box">
                    <div class="about-department">
                        <h3>About Dentist Department</h3>
                        <p>Dental treatments are carried out by a dental team, which often consists of a dentist and dental auxiliaries dental assistants, dental hygienists, dental technicians, as well as dental therapists.</p>
                        <ul>
                            <li>Cf-related diabities(monthly)</li>
                            <li>Gastrointastinal (monthly)</li>
                            <li>CF-related liver diesease</li>
                            <li>Sweat testing(three times per month)</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="icon-injury-box">
                <div class="inside-icon-box">
                    <div class="fa-icon-one">
                        <i class="fa fa-stethoscope fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4>Central Nervous System</h4>
                    <p>open visitation  with only two visitors in aroom at a time.No one under 12 years of age.</p>
                </div>

                <div class="inside-icon-box">
                    <div class="fa-icon-one">
                        <i class="fa fa-life-ring fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4>Allergic Disorders</h4>
                    <p>open visitation  with only two visitors in aroom at a time.No one under 12 years of age.</p>
                </div>

                <div class="inside-icon-box">
                    <div class="fa-icon-one">
                        <i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4>Neoplastic Disorders</h4>
                    <p>open visitation  with only two visitors in aroom at a time.No one under 12 years of age.</p>
                </div>
            </div>
            </div>  

            <div class="main-service-box">
                <div class="service-details-box">
                    <h4>Service Details</h4>

                    <div class="main-details-box">
                        <div class="box-in-details-box">
                            <h5>price</h5>
                            <h6>from $340</h6>
                        </div>
                
                        <div class="box-in-details-box">
                            <h5>Duration</h5>
                            <h6>10 min</h6>
                        </div>

                        <div class="box-in-details-box">
                            <h5>office</h5>
                            <h6>#46</h6>
                        </div>
                
                        <div class="box-in-details-box">
                            <h5>Doctor</h5>
                            <h6>Dr. Elizabeth Beard</h6>
                        </div>

                        <div class="box-in-details-box">
                            <h5>categoris</h5>
                            <h6>family medicine</h6>
                        </div>
                    </div>
                </div>

                <div class="service-details-box">
                    <h4>Schedule</h4>
                    <div class="main-details-box">
                        <div class="box-in-details-box">
                            <h5>Tuesday</h5>
                            <h6>10:00am to 1:00pm </h6>
                        </div>
                    </div>

                    <div class="main-details-box">
                        <div class="box-in-details-box">
                            <h5>Friday</h5>
                            <h6>7:00am to 10:00pm </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--services-->
    <section class="services">
        <div class="arrow-box"> 
            <h2>More services</h2> 
            <div class="arrow-button"> 
                <div class="arrow"  onclick="plusSlides(-1)" >  <i class="fa fa-chevron-left" aria-hidden="true"></i> </div>
                <div class="arrow"  onclick="plusSlides(1)" > <i class="fa fa-chevron-right" aria-hidden="true"></i> </div>
            </div> 
        </div>
        <div class="desices fade">
            <div class="desices-box one">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                </div>
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
    
            <div class="desices-box two">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                </div>        
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
    
            <div class="desices-box three">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                </div>        
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
        </div>
        <div class="desices fade">
            <div class="desices-box one">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                </div>
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
    
            <div class="desices-box two">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                </div>        
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
    
            <div class="desices-box three">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                </div>        
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
        </div>   
        <div class="desices fade">
            <div class="desices-box one">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                </div>
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
    
            <div class="desices-box two">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                </div>        
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
    
            <div class="desices-box three">
                <div class="paitiont-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                </div>        
                <div class="h3">
                    <h3>Cancer</h3>
                </div>
            </div>
        </div>     
    </section>
    
    <!--.........footer.....-->

<!--footer-->

<%- include('include/_footer') %>



<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("desices");
      var dots = document.getElementsByClassName("arrow");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "flex";  
      dots[slideIndex-1].className += " active";
    }
    
    
    </script>

</body>
</html>