<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra-plus</title>
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/tvastraplus.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    

<!--NavBar-->
<%- include('include/_navbar') %>

<!--plus-->
<section class="plus">
    <button>Plus</button>
    <h1>Health care plan for you and your family.</h1>
    <p> Become a tvastra plus member and save 65% off on your yearly health expenses.</p>
</section>

<section class="info">

    <div class="buy-plans">
       
        <h2>Select a tvastra plus Healthcare Plan</h2>
        <p> All plus plans for adult and 2 children</p>

        <div class="plan simple">
                <h3>Basic plan</h3>
                <p> Unlimited consultation with any speciality</p>
                <p>20% off on prescription medicine</p>
                <p> 20% off on test and checkups</p>

                <div class="price">
                    <h2><i class="fa fa-inr" aria-hidden="true"></i> 2,999<span>/year</span></h2>  
                    <p>view plan details </p>
                    <button>buy plan</button>
                </div>   
        </div>

        <div class="plan advanced">
            <div class="popular"> Popular  </div>
            <h3>Advanced plan</h3>
            <p> Unlimited consultation with any speciality</p>
            <p>20% off on prescription medicine</p>
            <p> 20% off on test and checkups</p>
            <p>10 free inclinic consultation</p>


            <div class="price">
                <h2><i class="fa fa-inr" aria-hidden="true"></i> 3,999<span>/year</span></h2>
                <p>view plan details </p>
                <button>buy plan</button>
            </div>   
        </div>

        <div class="plan simple">
            <h3>comphrensive plan</h3>
            <p> Unlimited consultation with any speciality</p>
            <p>20% off on prescription medicine</p>
            <p> 20% off on test and checkups</p>
            <p>10 free inclinic consultation</p>
            <p>2 master health checkups</p>

            <div class="price">
                <h2><i class="fa fa-inr" aria-hidden="true"></i> 5,999<span>/year</span></h2>
                <p>view plan details </p>
                <button>buy plan</button>
            </div>   
        </div>

    </div>
    </section>

    <section class="box-no-1">
    <div class="rateing-box">
        
        <h2>Trusted by 2crore+ users every month</h2>
        <p>Tvastra is a leading healthcare technology company in india. we began in 2009 and today we help 2 crore customers every month.</p>

        <div class="star-box">
            <div class="by-star">
                <h1>4.5</h1>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <P>1000+ Reviews </p>
            </div>
            <div class="by-number">
                <div class="num-box">
                    <P>5</p>
                    <div class="ratebar">
                        <div class="five"></div>
                    </div>
                </div>
                <div class="num-box">
                    <P>4</p>
                    <div class="ratebar">
                        <div class="four"></div>
                    </div>
                </div>
                <div class="num-box">
                    <P>3</p>
                    <div class="ratebar">
                        <div class="three"></div>
                    </div>
                </div>
                <div class="num-box">
                    <P>2</p>
                    <div class="ratebar">
                        <div class="two"></div>
                    </div>
                </div>              
                <div class="num-box">
                    <P>1</p>
                    <div class="ratebar">
                        <div class="one"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="follower-box">

            <div class="follower">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3>2 crocr</h3>
                <p>Monthly customers </p>
            </div>
            <div class="follower">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>100,000+</h3>
                <p>verified doctors</p>
            </div>
            <div class="follower">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>10 Lakh+</h3>
                <p> medicine ordered deliverd </p>
            </div>
            <div class="follower">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>5 crocr</h3>
                <p>doctor appointment</p>
            </div>

        </div>
    
    </div>

    <div class="hospitals-lists">
        <div class="hospital-heading">
            <p> benifit of plus membership </p> 
        </div>
        <div class="hospital-box">
            <div class="zerofees">  
                <h2>zero fees for clinic consultation</h2>
                <div class="zerofees-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p>Consult with 30000+ specialist doctors at top clinic and hospital </p>
                </div>
                <div class="zerofees-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p>Upto 10 in clinic consultation can be used by any family member over 12 month period. </p>
                </div>
            </div>
            <div class="top-hospital">  
                <h3>Top hospitals onboard </h3>
                <div class="hospitals">
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt=""> </div>
                </div>

                +More Hospitals
            </div>
        </div>
    </div>
    
    <div class="offer-box">
        <div class="offer-container">
            <div class="offer-info">  
                <h2>Unlimited online consultation with top doctors </h2>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p>Get all your health queries answerd from any specialist online, anty time of the day.</p>
                </div>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p>Connect under 2 minute on text,call, or video -available 24hrs. 7 day of the week. </p>
                </div>
            </div>
            <div class="offer-photo">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
            </div>
        </div>
        <div class="offer-container order">
            <div class="offer-info">  
                <h2>2 free health checkups</h2>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p>Discuss your test result with doctors through online consultation. Recive E-reports within 48hrs. </p>
                </div>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> Home saple Pickups. </p>
                </div>
            </div>
            <div class="offer-photo">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
            </div>
        </div>
        <div class="offer-container">
            <div class="offer-info">  
                <h2>zero fees for clinic consultation</h2>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care care plan for you and your familplan for you and your famil health plan for  you and your famil  you and your famil </p>
                </div>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care care plan for you and your familplan for you and your famil health plan for  you and your famil  you and your famil </p>
                </div>
            </div>
            <div class="offer-photo">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="tests-box">
            <h5>60 tests included</h5>
        <div class="box_inside_testbox fade">
            <div class="profile">   
                <div class="profile-img"> 
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
                </div>
                <h4>vitamin profile</h4>
                <p> 2 test </p>
            </div>
            <div class="profile">   
                <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt=""></div>
                <h4>thyroid profile</h4>
                <p> 2 test </p>
            </div>
            <div class="profile">   
                <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt=""></div>
                <h4>Iron deficiency profile</h4>
                <p> 2 test </p>
            </div>
            <div class="profile">   
                <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt=""></div>
                <h4>Liver profile</h4>
                <p> 2 test </p>
            </div>  
        </div> 



        <div class="box_inside_testbox fade">
            <div class="profile">   
                <div class="profile-img"> 
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
                </div>
                <h4>vitamin profile</h4>
                <p> 2 test </p>
            </div>
            <div class="profile">   
                <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt=""></div>
                <h4>thyroid profile</h4>
                <p> 2 test </p>
            </div>
            <div class="profile">   
                <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt=""></div>
                <h4>Iron deficiency profile</h4>
                <p> 2 test </p>
            </div>
            <div class="profile">   
                <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt=""></div>
                <h4>Liver profile</h4>
                <p> 2 test </p>
            </div>  
        </div> 





    </div>
    <div class="dots-thing">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        
    </div>
    </section>
    
    <section class="box-no-2">
    <div class="why">
        <div class="why-heading">
            <h2>why love tvastra</h2>
            <button>PLUS</button>
        </div>

        <div class="slideshow-container">
        <div class="outsidewhy">
         <div class="why-box">
            <h5> "wonderful experience with tvastra plus it helped me in saving a lot of amount as it provide free consultation with best doctors" </h5>
            <div class="why-photo-box">
                <div class="doc-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
                </div>
                <div class="why-content">
                    <h4>Rishabh tiwari</h4>
                    <div class="user">Advanced plan user</div>
                </div>
            </div>
         </div>
         
         <div class="why-box">
            <h5> "fantastc experience with health test using tvastra plus. didn't pay anuthing for test. I came to know my deficiency in vitamin" </h5>
           <div class="why-photo-box">
                <div class="doc-img"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt=""></div>
                <div class="why-content">
                    <h4>Puja Bhatt</h4>
                    <div class="user">Advanced plan user</div>
                </div>
            </div>
         </div>
         <div class="why-box focus">
            <h5> "24*7 access to doctors in just 60 second with 2kids one of them is bound to fall sleep .comes in super handy" </h5>
           <div class="why-photo-box">
                <div class="doc-img"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt=""></div>
                <div class="why-content">
                    <h4>Prachi Gupta</h4>
                    <div class="user">Comphensive plan user</div>
                </div>
            </div>
         </div>

         
        </div>

        


           </div>
       
    </div>
   
    </section>
    


<section class="questions-box">
    <h2>frequently ask quetions</h2>
    <div class="accordian">          
        <div class="accordian-tab">
            <input type="checkbox" id="toggle1" class="accordian-toggle" name="toggle">
            <label for="toggle1">How does free consultation with doctotrs and hospital work?</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
        <div class="accordian-tab">
            <input type="checkbox" id="toggle2" class="accordian-toggle" name="toggle">
            <label for="toggle2"> How does free consultation with doctotrs and hospital work? Tvastra plus network?</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

        <div class="accordian-tab">
            <input type="checkbox" id="toggle3" class="accordian-toggle" name="toggle">
            <label for="toggle3"> Specialization</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

        <div class="accordian-tab">
            <input type="checkbox" id="toggle4" class="accordian-toggle" name="toggle">
            <label for="toggle4"> Specialization</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

        <div class="accordian-tab">
            <input type="checkbox" id="toggle5" class="accordian-toggle" name="toggle">
            <label for="toggle5"> Specialization</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   

        <div class="accordian-tab">
            <input type="checkbox" id="toggle6" class="accordian-toggle" name="toggle">
            <label for="toggle6"> Specialization</label>        
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
    </div>
</section>

<!--footer-->

<%- include('include/_footer') %>


<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("box_inside_testbox");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace("active");
      }
      slides[slideIndex-1].style.display = "flex";  
      dots[slideIndex-1].className += " active";
    }




   
   
    </script>



</body>
</html>