<!--.........footer.....-->

<footer class="footer">
    <div class="one-div">
    <div class="footer-img">
        <img class="f-img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo">
    </div>
    
     <ul class="footer-list">               
        <li><a href="doctor">Doctor</a></li>
        <li><a href="hospital">Hospital</a></li>
        <li><a href="dentistry">Treatment</a></li>
        <li><a href="contactus">contact us</a></li>
        <li><a href="faq">FAQs</a></li>
     </ul>
    

    </div>
    <div class="two-div">
    <div class="footer-logo">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
    <div class="footer-h">
        All Rights Reserved. <i class="fa fa-copyright" aria-hidden="true"></i> tvastra 2018
    </div>
    </div>
</footer>