@import url(theme.css);

/*nav*/ 
.image1 {
    width: 8rem;
    height: 1.4rem;
}
.navbar_menu, .navbar_buttons {
    display: none;
}
/*map*/
.map{
iframe {
    width: 100%;
    height: 50vh;
}
}

/*contavt*/
.contact {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-size: cover;
    background-position: center;
    height: 35vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 h2, p {
    color: var(--white);
}
}

/*whole container*/
.whole-container {

.one-contact-info {
    display: flex;
    align-items: center;
    
    
}
.one-contact-info i {
    color: var(--blue_sky);
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.info-under-one-contact-info p {
    text-align: left;
    font-size: 0.8rem;
}


.data {
    background-color: var(--skyblue);
}
.section-in-data input {
    margin-bottom: 0.6rem;
}
.button {
    display: flex;
    flex-direction: row-reverse;
    

}
.button button {
    padding: 0.7rem 1.5rem;
}
}

/*footer*/
footer{
    
    background-color: var(--blackish_blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.f-img {
    width: 10rem;
    padding-bottom: 0.5rem;
}
.footer-list li a, .footer-logo i, .footer-h, .footer-h i {
    color: var(--white);
}
.footer-list li {
    padding: 0.4rem;
}
.footer-logo i {
    padding: 0.5rem;
}
.footer-h {
    padding: 0.5rem;
}


@media only screen and ( min-width:768px) {
    /*.whole-container*/
    .whole-container {
    .contact-info {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .info-under-one-contact-info p{
    
        margin: 0rem;
    }
    .block-in-data {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 0.5rem ;
        justify-content: center;
    }
    .one-in-data input{
        height: 76%;
    }
    .button {
        margin-right: -0.25rem;
    }
}

    /*footer*/
footer{
    
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
    
}

.f-img {
    width: 11rem;
    height: 2rem;
}
.footer-list li a, .footer-logo i, .footer-h, .footer-h i {
    color: var(--blackish_blue);
}
.footer-list li {
    padding: 0.5rem;
}
.footer-list li a, .footer-list i{
    font-size: 0.9rem;
}

.footer-list {
    display: flex;

}
.one-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.two-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
}



@media only screen and ( min-width:1024px) {
    
    /*whole container*/
    .whole-container {
        display: grid;
        grid-template-columns: 30% 64%;
    
    .contact-info {
        justify-content: left;
    }
}

    /*footer*/



footer {
    padding: 2rem 5rem;
}

}