@font-face{
    font-family: 'Nexa Light';
    src: url('Nexa-Light.otf');
}
@font-face{
    font-family: 'Nexa Bold';
    src: url('Nexa-Bold.otf');
}

@import url("navbar.css");
@import url("needhelp.css");
@import url('footer.css');





/* ............................................... */
:root {
    --blackish_blue: #021433;
    --whitish: #cccccc;
    --greyish: #636668;
    --dark: #404040;
    --light: #dbdbdb;
    --skyblue: rgb(98, 171, 194);
    --blue_sky:rgb(9, 116, 187);
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #5e5e5e;
    --secondary: #f0f0f0;
    --black: #111;
    --light_grey:rgb(215, 215, 193);
    --select_grey:rgb(214, 214, 245);
    --faint_blue:rgb(179, 217, 255);
    --blackish:rgba(29, 28, 28, 0.3);;
    --sudo-line:rgba(0, 0, 0,0.1);
    --user-plan:rgb(195, 213, 240);
    --green:rgb(37, 112, 7);
  }
  



/*section*/
section{
    padding: 1.5rem 1rem;
}

/*heading and para*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Nexa Bold';
    letter-spacing: 0.01rem;
    color: var(--blackish_blue);
}
h1,h2{
    
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem ;
}

h3{
    font-size: 1.15rem;
    
}

h4{
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
}
h5 {
    font-size: 0.95rem;
    letter-spacing: 0.02rem;
    
}
h6 {
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
}


p{
    color: var(--blackish_blue);
    font-size: 0.9rem;
    font-family: 'Nexa Light';
    text-align: center;
    line-height: 1.2rem;
    letter-spacing: 0.059rem;
    margin-bottom: 1rem;
}
input{
    width:-webkit-fill-available;
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--blackish);
    outline: none;
    

    &::placeholder{
    font-family: 'Nexa Light';
    font-size: 0.75rem;
    
    color: var(--gray);
}
}
input[type=number] {
    &::placeholder{
    font-family: 'Nexa Light';
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
  

i{
    
    color:(var(--blackish_blue));
}    

button{
    background-color: var(--blackish_blue);
    color: var(--white);
    cursor: pointer;
    font-family: "Nexa Light";
    border: none;
    padding: 0.7rem 1.5rem;
    letter-spacing: 0.02rem;
 
   &:hover {
    
    box-shadow: 0 5px var(--gray);
    transform: translateY(0.1px);
    
        
    }
    

}
select {
    color: rgba(0, 0, 0, 0.7);
    padding: 0.4rem 1rem;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    font-family: "Nexa Light";
    outline: none;
}
select option {
    font-size: 0.8rem;
    
}

a,i {
    cursor: pointer;
}

a {
    font-family: "Nexa Light";
    text-decoration: none;
    color: var(--black);
    font-size: 0.9rem;
}


li{
    color: var(--blackish_blue);
    font-family: "Nexa Light";
    font-size: 0.75rem;
    letter-spacing: 0.06rem;
    
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
label {
    font-family: "Nexa Light";
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
}





@media only screen and ( min-width:768px) and (max-width:1024px){

    
    section{
        padding: 1.5rem 2rem;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: "Nexa Bold";
        letter-spacing: 0.02rem;
        color: var(--blackish_blue);
    }

    h1,h2{
        font-size: 1.8rem;
        text-align: center;
    }

    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    h5 {
        font-size: 0.98rem;

    }
    h6 {
        font-size: 0.97rem;
    }
    
    
    p{
        font-size: 1rem;
        line-height: 1.5rem;
        
    }

    

    input{
        padding: 0.6rem 1rem;
    }

    button {
        font-size: 0.9rem;
        
        
    } 

    select {
        background: none;
        font-size: 0.8rem;
    }
    select option {
        font-size: 1.21rem;
    }
  
    li{
        color: var(--black);
        font-size: 0.8rem;
        padding: 0.2rem auto ;
    }

  
    
    i{
        color: var(--blackish_blue);
    }

    
    
}





@media only screen and ( min-width:1024px){


    li span{
        padding: 2rem;
    }

    section{
        padding: 4.5rem 5rem;
    }
    
    h1,h2,h3,h4,h5,h6 {
        text-align: left;
        font-family: "Nexa Bold";
        letter-spacing: 0.02rem;
        color: var(--blackish_blue);
    }

    h1,h2{
        
        margin-bottom: 1rem;
        font-size: 2rem;
        
    }
    
    h3{
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    p{
        text-align: left;
        margin-bottom: 2rem;
        font-size: 1rem;
        font-weight: bold;
    }
    
        
    

    input{
        padding: 0.7rem 1rem;
    }

    ::placeholder{
        color: var(--gray);
    }

    button {
        font-size: 1rem;
        
    }

    li {
        color: var(--blackish_blue);
        font-size: 0.9rem;
        
    }
   
footer {
    padding: 2rem 5rem;

}

   

}